In [1]:


import pandas as pd

In [2]:
from datetime import datetime

def dt(hour, minute, second=0):
    return datetime(2022, 1, 1, hour, minute, second)

In [10]:
data = [
    (None, None, dt(1, 2), dt(1, 10)),
    (1, None, dt(1, 2), dt(1, 10)),
    (1, 2, dt(2, 2), dt(2, 3)),
    (None, 1, dt(1, 2, 0), dt(1, 2, 50)),
    (2, 3, dt(1, 2, 0), dt(1, 2, 59)),
    (3, 4, dt(1, 2, 0), dt(2, 2, 1)),     
    ]

columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
df = pd.DataFrame(data, columns=columns)
df

   PULocationID  DOLocationID tpep_pickup_datetime tpep_dropoff_datetime
0           NaN           NaN  2022-01-01 01:02:00   2022-01-01 01:10:00
1           1.0           NaN  2022-01-01 01:02:00   2022-01-01 01:10:00
2           1.0           2.0  2022-01-01 02:02:00   2022-01-01 02:03:00
3           NaN           1.0  2022-01-01 01:02:00   2022-01-01 01:02:50
4           2.0           3.0  2022-01-01 01:02:00   2022-01-01 01:02:59
5           3.0           4.0  2022-01-01 01:02:00   2022-01-01 02:02:01

In [5]:
df.shape

(6, 4)

In [11]:
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
df['duration'] = df.duration.dt.total_seconds() / 60

df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

categorical = ['PULocationID', 'DOLocationID']
df[categorical] = df[categorical].fillna(-1).astype('int').astype('str') 
df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
1,1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
2,1,2,2022-01-01 02:02:00,2022-01-01 02:03:00,1.0

In [12]:
columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
columns.append('duration')
columns

['PULocationID',
 'DOLocationID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'duration']